fastapi==0.95.2
uvicorn==0.22.0
python-jose[cryptography]==3.3.0
passlib==1.7.4
python-multipart==0.0.6
psycopg2-binary==2.9.6
sqlalchemy==2.0.15
pydantic==1.10.7
python-dotenv==1.0.0  # Для работы с .env файлом
aiofiles==23.2.1  # Для работы с файлами в асинхронном режиме
